<div class="customers-page">
  <app-card
    cardTitle="Customers"
  >
    <div class="create-customer-button">
      <app-button
        icon="person_add"
        text="Create Customer"
      ></app-button>
    </div>

    <app-table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Birth Date</th>
          <th>Phone Number</th>
          <th>Created At</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let customer of customers">
          <td>{{ customer.name }}</td>
          <td>{{ customer.birth_date | date : 'mediumDate' }}</td>
          <td>{{ customer.phone_number }}</td>
          <td>{{ customer.created_at | date : 'medium' }}</td>
        </tr>
      </tbody>
    </app-table>
  </app-card>
</div>